.one,.two,.three{
    margin-left:250px;
    margin-top:300px;
}
.one{
    background:#eaeaed;
    color:#666;
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:5px;
    text-align:center;
}
.two{
    background:none;
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:5px;
    border:2px dashed #9799a7;
    text-align:center;
    vertical-align:top;
}
.three{
    background:#eaeaed;
    color:#666;
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:5px;
    text-align:center;
    vertical-align:top;
}
.two .four{
    background:#2db34a;
    color:#fff;
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:5px;
    text-align:center;
    position:relative;
    left:30px;
    top:30px;
}