.one{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:40px;
}
.two{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:40px;
}
.three{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:40px;
}
.four{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:40px;
}
.five{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:40px;

}
.six{
    border:2px solid grey;
    text-align:center;
    background-color:bisque;
    padding:20px;
    margin:20px;

}