header,.group section,.group aside,footer{
    margin:24px 10px 24px 10px;
}
header{
    background:#2db34a;
    color:#fff;
    padding:20px;
    border-radius:5px;
    text-align:center;
    font-size:20px;
    margin-right:10px;
    margin-left:10px;
    display:block;
}
.group section{
    background:#2db34a;
    color:#fff;
    padding:20px;
    border-radius:5px;
    text-align:center;
    font-size:20px;
    margin-right:10px;
    margin-left:10px;
    float:left;
    width:60%;
    display:block;
    margin-top:80px;
}
.group aside{
    background:#2db34a;
    color:#fff;
    padding:20px;
    border-radius:5px;
    text-align:center;
    font-size:20px;
    margin-right:10px;
    margin-left:10px;
    float:right;
    width:30%;
    display:block;
    margin-top:80px;
}
footer{
    background:#2db34a;
    color:#fff;
    padding:20px;
    border-radius:5px;
    text-align:center;
    font-size:20px;
    margin-right:10px;
    margin-left:10px;
    clear:both;
    display:block;
    margin-top:50px;
}
.group:before,.group:after{
    content:"";
    display:table;
}
.group:after{
    clear:both;
}
.group{
    background:#eaeaed;
    border-radius:5px;
    clear:both;
    *zoom:1;
    font-size:20px;
}