.one{
    font-size:200px;
}
.two{
    margin-top:-320px;
    margin-left:200px;
    font-size:20px;
}
.three{
    margin-top:-160px;
    margin-left:300px;
    font-size:200px;
}
.four{
    margin-top:-320px;
    margin-left:500px;
    font-size:20px;
}
.five{
    margin-left:600px;
    margin-top:-150px;
    font-size:200px;
}